<h1>Your gadgets</h1>

<% @gadgets.each do |gadget| %>
  
  <h2><%= gadget.name %></h2>
  <p><%= gadget.description %></p>
  <p>
    <%= link_to "Add Photo", new_image_path(gadget: gadget) %> | 
    <%= link_to "Edit Gadget", edit_gadget_path(gadget) %> | 
    <%= link_to "Remove Gadget", gadget_path(gadget), method: :delete %>
  </p>

  <% gadget.images.each do |image| %>
    <div class="image-container">
      <%= image_tag image.picture.url, {class: "thumb"} %>
      <%= link_to "Remove", image_path(image), method: :delete %>
    </div>
  <% end %>
  <div class="clear"></div>

<% end %>
